* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

/*navigatie*/

nav {
    width: 100%;
    height: 60px;
    background-color: #06183d;
}

nav p {
    color: #eecd4a;
    font-size: 24px;
    line-height: 55px;
    font-family: fantasy;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    color: #eecd4a;
    font-size: 14px;
    font-family: fantasy;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #06183d;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li label {
    display: inline-flex;
    padding: 15px 10px;
    color: #eecd4a;
}

nav ul li ul li label input {
    margin-right: 10px;
}

nav ul li ul li:hover {
    background-color: #E6E6E7;
    width: 100%;
}

label {
    display: block;
}

.nietzichtbaar {
    display: none;
}

.arrow {
    width: 20px;
}

h1 {
    margin: 1%;
    font-size: x-large;
    margin-bottom: 5%;
}

main ul li {
    list-style: none;
    display: inline;
    margin: auto;
}

main ul li img {
    width: 100%;
}

nav img {
    width: 50px;
    float: left;
}

body section {
    background-color: #24B5C9;
    padding: 3% 0% 3% 0%;
}

section fieldset {
    background-color: #06183D;
    margin: 0% 3% 2% 3%;
    color: white;
    border-radius: 5px;
}

li {
    list-style: none;
}

section form fieldset ul {
    display: grid;
}

h3 {
    margin: 5% 0% 5% 0%;
}

.tab {
    overflow: hidden;
    background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    width: 50%;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #06183D;
    color: white;
    width: 50%;
     text-decoration: underline #eecd4a;;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;

}

section form fieldset div fieldset label{
    display: contents;
}

output {
    display: inherit;
}
