@import url("https://use.typekit.net/klm5qqw.css");

/* https://css-tricks.com/snippets/jquery/smooth-scrolling */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    transition: 0.5s;
}

/*navigatie*/

header {
    width: 100%;
    height: 3.5em;
    background-color: #06183d;
    position: fixed;
    z-index: 1;
}

header p {
    color: #eecd4a;
    font-size: 2em;
    font-family: gill-sans-nova, sans-serif;
    display: inline-block;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    margin: 0.1em;
    margin-left: 40%;
}

section p {
    padding: 5%;
    font-family: gill-sans-nova, sans-serif;
}

section h2 {
    margin: 0em 0em 0em 5%;
    color: white;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

section form div div li label {
    width: 16em;
}

.tweede {
    margin: 0em 0em 1em 5%;
}

.sorteer {
    padding-top: 1em;
    margin: 0em 0em 1em 1em;
}

.buttons {
    margin: 0em 0em 0em 5%;
    font-size: 1em;
    font-family: gill-sans-nova, sans-serif;
    color: rgb(85, 86, 90);
    border-radius: .2em;
    padding: .5em 1em;
    font-weight: bold;
    background-color: rgb(255, 230, 0);
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
}

label {
    display: block;
    padding: 1em 2em;
    border-bottom: 0.1em solid;
    font-family: gill-sans-nova, sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 1em;
}

.nietzichtbaar {
    display: none;
}

h1 {
    color: white;
    margin-bottom: 5%;
    background: rgba(6, 24, 61, 0.7) none repeat scroll 0% 0%;
    padding-bottom: 5%;
    padding: 5%;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    line-height: calc(0.9);
}

main ul li {
    list-style: none;
    float: left;
    margin: auto;
}

main ul li img {
    width: 100%;
}

header img {
    width: 3em;
    float: right;
    margin-right: 6em;

}

li {
    list-style: none;
}

h3 {
    margin: 5% 0% 5% 0%;
    font-family: gill-sans-nova, sans-serif;
}

h2 {
    text-align: center;
    font-family: gill-sans-nova, sans-serif;
    margin: 3%;
}

output {
    display: inherit;
}

form {
    margin: 3em auto 3em auto;
    background: #384664;
    border-radius: 0.2em;
    height: 12.5em;
    max-width: 71em;
}

main ul li img {
    width: 100%;
    height: 40%;

}

.blauw {
    height: 0.7em;
    background-color: #24B5C9;
}

.zoeken {
    padding-top: 0.7em;
}


.afbeelding-home {
    height: 23em;
    background-image: url('../images/achtergrond1.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 2.5em;
}

/* https://codepen.io/joostf/pen/JeQpYd */

article {
    max-width: 19em;
    background: white;
    display: grid;
    grid-template-columns: 5fr 0fr;
    align-items: center;
    border-radius: 0.5em 0.5em 0.3em 0.3em;
    overflow: hidden;
    margin: 0.5em;
    border-color: currentcolor rgb(232, 232, 232) rgb(232, 232, 232);
    border-style: none solid solid;
    border-width: 0em 0.09em 0.09em;
    min-width: 18em;
    min-height: 31em;
}

article header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

article h3 {
    margin: 0;
    padding: .5em 1rem;
    border-radius: 1rem 1rem 0 0;
    color: rgb(74, 73, 73);
    font-size: 1.75em;
    font-weight: bold;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    max-width: 16ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

main section a {
    grid-column: 1 / 2;
}

main section article img {
    width: 100%;
    height: 12em;
    grid-column: 1 / 3;
}

main section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body section h1 {
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0em;
    padding: 5% 0% 0% 5%;
}

article p {
    grid-column: 1 / 2;
    padding: 0 1rem;
}

article a button {
    margin: 2em 1em 1em 1em;
    font-size: .85em;
    font-family: gill-sans-nova, sans-serif;
    color: rgb(85, 86, 90);
    border-radius: .2em;
    padding: .5em 1em;
    border: none;
    font-weight: bold;
    background-color: rgb(255, 230, 0);
    box-shadow: rgb(222, 194, 4) 0em 0.1em 0em 0em, rgba(0, 0, 0, 0.2) 0em 0.3em 0.2em 0em;
    transition: all .5s;
    grid-column: 1 / 2;
    text-transform: uppercase;
    padding-left: 33%;

    padding-right: 33%;
}

.ster {
    grid-row: 2 / 2;
    display: flex;
    height: 2em;
    margin-left: 8em;
}

.left {
    margin-left: 76%;
}

.info {
    margin-top: 2em;
}

.more {
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: .85em;
    font-family: gill-sans-nova, sans-serif;
    color: white;
    border-radius: .2em;
    padding: .5em 1em;
    border: none;
    font-weight: bold;
    background-color: rgb(36, 181, 201);
    box-shadow: rgb(30, 150, 166) 0em 0.1em 0em 0em, rgba(0, 0, 0, 0.2) 0em 0.3em 0.2em 0em;
    text-transform: uppercase;
    width: 90%;
}

.black {
    background-color: black;
    justify-content: center;
}

/* https://www.youtube.com/watch?v=C8paSmVFsVE */

.verhaal,
.titel {
    max-width: 90vh;
    margin: auto;
    font-size: 2em;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    position: relative;
    background-repeat: no-repeat;
    animation: animate 6s linear infinite;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding-bottom: 0%;
}

@media only screen and (min-width: 800px) {
    .titel {
        font-size: 4em;
        margin: 0em 0em 0em 20%;
    }
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

.verhalenopreis {
    padding: 1.4em;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(../images/bg1.jpg);
    padding-top: 5em;
    padding-bottom: 5em;
}

/* http://www.iamrohit.in/create-simple-star-rating-using-pure-css-html-radio-button/ */

@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
div.stars {
    width: 100%;
}

input.star {
    display: none;
}

label.star {
    padding: 0.2em;
    font-size: 2.3em;
    color: #444;
    transition: all .2s;
    font-weight: 900;
    border-bottom: none;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
    font-weight: 900;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
    font-weight: 900;
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
    font-weight: 900;
}

.review {
    color: white;
    background: black;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 400;
    margin: 0em;
    text-transform: none;
    display: flex;
    justify-content: center;
}

.black1 {
    justify-content: center;
    background-color: black;
    display: flex;
    margin-bottom: 3em;
}

/* https://css-tricks.com/recreating-the-twitter-heart-animation/ */

[id='toggle-heart'] {
    position: absolute;
    left: -100vw;
    float: right;

}

[for='toggle-heart'] {
    color: #e2264d;
    display: inline;
    font-size: 5em;
    border-bottom: none;
    cursor: pointer;
    padding: 0em;
    float: right;
    top: 0em;
}

@keyframes heart {
    0%,
    17.5% {
        font-size: 0;
    }
}

[id='toggle-heart']:checked + label {
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}

.presentatie1 {
    background-color: rgb(251, 221, 15);
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    height: 90vh;
    background-image: url(../images/website%20presentatie%20achtergrond.png);
}

/* Voor de nachtmodus
https://www.youtube.com/watch?v=PPhCJewgI4Y&feature=youtu.be&fbclid=IwAR1iXInXHXLBgdHLuClzvxQ7NrQbCDYBZv-bPkBX6O98c_m8th_vg_SfuXI */

.toggle {
    position: absolute;
    top: 0.9em;
    right: 1.5em;
    background: #06183d;
    ;
    border: 0.15em solid rgb(255, 230, 0);
    ;
    width: 3.5em;
    height: 1.5em;
    cursor: pointer;
    border-radius: 2em;
    transition: 0.5s;
}

.toggle:before {
    content: '';
    position: absolute;
    top: 0.1em;
    left: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background: rgb(255, 230, 0);
    ;
    border-radius: 50%;
    transition: 0.5s;
}

.toggle.active {
    background: yellow;
    border: 0.15em solid #fff;
}

.toggle.active:before {
    left: 2.1em;
    background: #06183d;
}

body.night {
    background: #00151f;
}

/* buttons genre */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    z-index: 1;
    position: absolute;
}

.uitlijning {
    margin-left: 1.5em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(222, 194, 4);
}

.knoppen1 {
    color: rgb(148, 148, 148);
    margin: 0em 0em 0em 1.5em;
    font-size: 1em;
    font-family: gill-sans-nova, sans-serif;
    border-radius: .2em;
    padding: .5em 1em;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: left;
    width: 22.5em;
    height: 4.3em;
}

.knoppen {
    color: rgb(148, 148, 148);
    font-size: 1em;
    font-family: gill-sans-nova, sans-serif;
    border-radius: .2em;
    padding: .5em 1em;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: left;
    width: 22.5em;
    height: 4.3em;
}

.kaas {
    animation: type 3s;
    overflow: hidden;
}

@keyframes type {
    0% {
        margin-bottom: 2em;
        letter-spacing: 2em;
    }

    30% {
        margin-bottom: 6em;
    }
}


@media only screen and (min-width: 300px) and (max-width: 799px) {

    .dropdown {
        margin-top: 0.15em;
        display: block;
    }

    form {
        width: 22em;
        height: 20em;
    }

    .knoppen1,
    .knoppen {
        margin: 0em 0em 0em 1em;
        width: 20em;
    }

    .uitlijning {
        margin: 0em;
    }

    header p {
        margin-left: 29%;
    }

    .stars form {
        height: 5em;
    }

    .verhaal {
        max-width: 30vh;
        font-size: 1em;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
    .dropdown {
        margin-top: 0.15em;
        display: block;
    }

    form {
        width: 95%;
        height: 20em;
    }

    .knoppen1,
    .knoppen {
        margin: 0em 0em 0em 1em;
        width: 96.5%;
    }

    .dropdown-content {
        margin: 0em 0em 0em 1em;
    }

    .stars form {
        height: 5em;
    }

    .verhaal {
        max-width: 58vh;
        font-size: 1.5em;
    }
}

.verhaal:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.groter:hover {
    width: 4em;
    margin-right: 5.6em;
}

.breedte {
    width: calc(100% - 12vh);
}

.center {
    padding-top: 4em;
    text-align: center;
}

header div {
    width: 16em;
    height: 6em;
    float: right;
    background-color: #06183d;
    text-align: center;
    display: none;
}

.zichtbaar {
    display: block;
}

header div a {
    text-decoration: none;
    font-size: xx-large;
    color: white;
    font-family: gill-sans-nova, sans-serif;
}

.stars div h2 {
    color: white;
}

.vind {
    display: none;
}
