body {
    background: #2d343d;
}

.login {
    margin: 20px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
    border: 1px solid #c4c4c4;
}

h1.login-title {
    margin: -31px -26px 27px;
    padding: 15px 26px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #ADADAD;
    text-align: center;
    background: #06183d;
}

.login-input {
    width: 285px;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-input:focus {
    border-color: #6e8095;
    outline: none;
}

.login-button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #000;
    text-align: center;
    background: rgb(255, 230, 0);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
}

.login-lost {
    text-align: center;
    margin-top: 1em;
}

.login-lost a {
    color: #666;
    text-decoration: none;
    font-size: 13px;
}
